<div class="navbar">
  <div class="container">
    <h1>Cocktails</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-light" %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-cocktail">
        <%= link_to cocktail_path(cocktail) do %>
          <h2 class="centered"><%= cocktail.name %></h2>
          <% case cocktail.name.split.length %>
          <% when 1 then image_path = "#{cocktail.name.split[0].downcase}.png" %>
          <% when 2 then image_path = "#{cocktail.name.split[0].downcase}_#{cocktail.name.split[1].downcase}.png" %>
          <% when 3 then image_path = "#{cocktail.name.split[0].downcase}_#{cocktail.name.split[1].downcase}_#{cocktail.name.split[2].downcase}.png" %>
          <% when 4 then image_path = "#{cocktail.name.split[0].downcase}_#{cocktail.name.split[1].downcase}_#{cocktail.name.split[2].downcase}_#{cocktail.name.split[3].downcase}.png" %>
          <% end %>
          <% if FileTest.exist?("./app/assets/images/#{image_path}") %>
            <%= image_tag image_path, alt: "Cocktail" %>
          <% else %>
            <%= image_tag "pisco_sour.png", alt: "Cocktail" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
